.coin_app {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    color: #fff;
}

.layout {
    height: 100%;
    width: 100%;
}

.header {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.coin_logo {
    height: 100px;
    width: 100px;
}

body {
    background: rgb(10, 10, 10);
}